.steps {
  &__title {
    margin: auto;
    margin-top: -20px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 45px;
    max-width: 600px;
  }
  &__subtitle {
    margin-bottom: 60px;
    text-align: center;
    font-size: 20px;
  }
}

.step-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__text {
    display: inline-block;
    text-align: center;
    max-width: 155px;
    font-size: 14px;
  }
  &__icon {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .step-list {
    flex-wrap: wrap;
    &__item {
      flex-basis: 33%;
    }
    &__item:nth-child(-n + 5) {
      margin-bottom: 30px;
    }
    &_disabled {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .steps {
    &__title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .step-list {
    &__text {
      font-size: 12px;
    }
    &__icon {
      margin-bottom: 22px;
    }
  }
}

@media (max-width: 567px) {
  .step-list {
    &__item {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}
